{% extends 'floppa/base.html' %}
{% load static %}

{% block title_block %}
	₍⑅ᐢ.ˬ.ᐢ₎♡✧ABOUT US
{% endblock %}

{% block body_block %}
	<div>
		<h1>About Us!</h1>
    	<p>Floppabunny is a small local business maintained by a small group of developers (us) with the
		goal of selling you the most affordable necklaces available at the greatest possible price.
        </p><br/>
	  	<p>Florence Payne, our founder and current CEO, creates all of our necklaces. She obtains all of the materials for the stunning necklaces
		herself, then develops, designs, and manufactures them all on her own, using only the most cutting-edge technology (her hands).
        </p><br/>
	  	<p>If you have any questions regarding us, our startup, support and maintenance or anything else, don't hesitate to get in touch with us.
		Please use the contact form located just below this paragraph to connect with us and wait for a response on our end.
		Thank you for your time in reading this and have a wonderful day.
        </p><br/>
		︵‿︵‿୨♡୧‿︵‿︵
	</div>
	<div class="contact">
		<h1>Contact Us!</h1>
		<!-- add contact form here -->
	</div>
{% endblock %}