{% extends 'floppa/base.html' %}
{% load static %}

{% block title_block %}
	₍⑅ᐢ.ˬ.ᐢ₎♡✧ABOUT US
{% endblock %}

{% block body_block %}
	<div>
		<h1>⋆ ˚｡⋆♡˚Get To Know Us˚♡⋆｡˚ ⋆</h1>
		<div class = aboutText>
			<p>Floppabunny is a small business ran by team of students from glasgow with the
			goal of selling you the cutest necklaces at an affordable price <3
			</p>
			<p>Florence Payne (our founder & CEO) creates all of our necklaces. She obtains all of the materials for our necklaces
			herself, then develops, designs, & manufactures them all on her own, using only the most cutting-edge technology (her hands)!
			</p>
			<p>If you have any questions regarding us, our startup, support & maintenance or anything else, don't hesitate to get in touch with us!
			Please use the contact form located just below this paragraph to connect with us & wait for a response on our end.
		</div>
		<h3>Thanks for reading, we hope to hear from you soon! :D</h3>
        </p><br/>
		<h2>︵‿︵‿୨♡୧‿︵‿︵</h2>
	</div>
	<div class="contact">
		<h5>Contact us using the email address:</h5>
		<h6>florencepayne@floppabunny.com</h6>
	</div>
{% endblock %}
