<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<title>
			{% block title_block %}
			{% endblock %}
		</title>
		<link rel="stylesheet" href="{% static 'base.css' %}"/>
		<meta charset="UTF-8">
		<meta name = "keywords" content = "Necklace, Retailer, Online Shopping, Jewlery">
	</head>
	<body>
		<div class = "header">
			<ul>
				<li> <a href = "{% url 'floppa:index' %}"> Home </a> </li>
				<li> <img src="{% static 'images/floppabunny.gif' %}" alt="Floppabunny logo" width = 250px/> </li>
				{% if user.signedin %}
					<li> <a href = "{% url 'floppa:cart' %}"> Cart </a> </li>
					<li> <a href = "{% url 'floppa:account' %}"> Account </a> </li>
				{% else %}
					<li> <a href = "{% url 'floppa:login' %}"> Log In </a> </li>
					<li> <a href = "{% url 'floppa:signup' %}"> Sign Up </a> </li>
				{% endif %}
			</ul>
		</div>
		<div class = "body">
		{% block body_block %}
		{% endblock %}
		</div>
		<div class = "footer">
			<ul>
				<li> <a href = "{% url 'floppa:about' %}"> About Us </a> </li>
			</ul>
		</div>
		
		<script src="{% static "js/jquery-3.3.1.min.js" %}"  crossorigin="anonymous"></script>
		<script src="{% static "js/floppa-jquery.js" %}" crossorigin="anonymous"></script>
		
	</body>
</html>