<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<title>
			{% block title_block %}
			{% endblock %}
		</title>
		<link rel="stylesheet" href="{% static 'base.css' %}"/> <!--calling stylesheet-->
		<link rel="stylesheet" href="{% static 'necklacestyle.css' %}"/>
		<meta charset="UTF-8">
		<meta name = "keywords" content = "Necklace, Retailer, Online Shopping, Jewlery">
		<meta name="viewport" content="width=device-width, initial-scale-1.0">
		<style>
			@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');
		</style>
	</head>

	<body>

		<div>
		        <!--setting condition on what the user sees depending on if logged in or not-->
				{% if user.is_authenticated %}
					    <div class="topnav"> <!-- calling the class with the navigation bar styles-->

	                    <a class="homeImage" href = "{% url 'floppa:index' %}"> <img src="{% static 'images/homeIcon.png' %}" alt="Home" width=50pts/> </a>

                        <a style="float:right" href = "{% url 'floppa:account' %}"> <!--setting up buttons to take user to corresponding page -->
						<button class = "classic-btn"> account</button>

						</a>
                        <a style="float:right" href = "{% url 'floppa:cart' %}"> <img src="{% static 'images/cart.png' %}" alt="Cart" width = 40pts /> </a>
					</div>

					<!--<div class = "body", id="btnright">
						<a href = "{% url 'floppa:cart' %}"> <img src="{% static 'images/cart.png' %}" alt="Cart" width = 40pts /> </a>
					</div>-->
				{% else %}
					    <div class="topnav">
            			<a class="homeImage" href = "{% url 'floppa:index' %}"> <img src="{% static 'images/homeIcon.png' %}" alt="Home" width=50pts/> </a>

                        <a style="float:right" href = "{% url 'floppa:cart' %}"> <img src="{% static 'images/cart.png' %}" alt="Cart" width = 40pts /> </a>
                        <a style="float:right" href = "{% url 'floppa:signup' %}">
						<button  class="classic-btn">sign up</button>
						</a>
						<a style="float:right" href = "{% url 'floppa:login' %}">
                        <button class="classic-btn" >log in</button>
						 </a>
					</div>
					</div>
				{% endif %}
		<!-- to here!!! -->

            <!--the floppabunny logo gif on every page except from home or index.html -->
            <a id ="logo" href = "{% url 'floppa:index' %}"> <img src="{% static 'images/floppabunny.gif' %}" alt="Floppabunny logo" width = 250pts /> </a>


		</div>
		<div class = "body">
		{% block body_block %}
		{% endblock %}
		</div>
		<div class = "footer">
			<ul>
			{% if user.is_authenticated %}
			<a href="{% url 'floppa:signout' %}">
			<button class = "classic-btn"> sign out </button>
			</a>
			{% endif %}
			</ul>
		</div>


		<script src="{% static "js/jquery-3.3.1.min.js" %}"  crossorigin="anonymous"></script>
		<script src="{% static "js/floppa-jquery.js" %}" crossorigin="anonymous"></script>

	</body>
</html>
