{% extends 'floppa/base.html' %}
{% load static %}

{% block title_block %}
	₍⑅ᐢ.ˬ.ᐢ₎♡✧CART
{% endblock %}

{% block body_block %}
<div id = cart>
	<div id = picturesCart>
	{% for necklace in necklaces %}
		<img class = cartPics, src="{{necklace.image1.url}}" width =130px alt="Image of necklace">
		<br>
	{% endfor %}
	</div>

	<div id = namesCart>
	{% for necklace in necklaces %}
		{{ necklace.name }}
		<br>
	{% endfor %}
	</div>

	<div id = pricesCart>
	{% for price in prices %}
		£{{ price }}
		<br>
	{% endfor %}
	</div>
	<br>
	</br>
</div>


	<a class = "classic-btn" href = "{% url 'floppa:checkout' %}"> Checkout </a>

{% endblock %}