{% extends 'floppa/base.html' %}
{% load static %}

{% block title_block %}
	₍⑅ᐢ.ˬ.ᐢ₎♡✧CHECKOUT
{% endblock %}

{% block body_block %}
	<p> Your total is: </p>
	£{{ total }}
	<br> 
	<a href = "{% url 'floppa:cart' %}"> Cart </a>
	
	<form id="contact" method="post" action="{% url 'floppa:payment_confirmed' %}">
	{% csrf_token %}
	<p>please leave your full name and email address if you would like us to contact you regarding any questions</p>
	<p>cardholder's name:</p> <input type="text" name="reply" value="" size="30"/>
	<p>credit card numbers:</p> <input type="text" name="reply" value="" size="16"/><br />
	<p>cvv:</p> <input type="text" name="reply" value="" size="3"/><br />
	<p>expiry date:</p> <input type="text" name="reply" value="" size="5"/><br />
	<br />
	<br />
	<button class = "classic-btn" type="submit"> pay now! </button>
	</form>	
	
{% endblock %}