{% extends 'floppa/base.html' %}
{% load static %}

{% block title_block %}
	₍⑅ᐢ.ˬ.ᐢ₎♡✧CONTACT FORM
{% endblock %}

{% block body_block %}
<h1>customer feedback form</h1>
<h4>give us your details:</h4>
<form id="contact" method="post" action="{% url 'floppa:contact' %}">
	{% csrf_token %}
<p>please leave your full name and email address if you would like us to contact you regarding any questions
</p>
<p>full name:
</p>
<input type="text" name="reply" value="" size="30"/>
<br />
<p>email address:
</p>
<input type="text" name="reply" value="" size="30"/>
<br />
<p>please type in the details of your case. we'll get back at you as soon as possible!
</p>
<input class ="contact-largerinput" type="textarea" name="feedback" value="" size="300"/>
<br />
<br />
<input class = "classic-btn" type="submit" value="contact" />
</form>
{% endblock %}
