<!DOCTYPE html>
{% load static %}

<html>
	<head>
		<title>
		₍⑅ᐢ.ˬ.ᐢ₎♡✧HOME
		</title>
		<link rel="stylesheet" href="{% static 'base.css' %}"/>
		<meta charset="UTF-8">
		<meta name = "keywords" content = "Necklace, Retailer, Online Shopping, Jewellery">
		
		<style>
			@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');
		</style>
	</head>
	
	<body>
		<div class = "indexHeader">
			<ul>
			<!-- add links -->
				<a href = "{% url 'floppa:about' %}"> About Us </a>
			</ul>
		</div>
		<div class = "body">
			<h1>Welcome 2 Floppabunny</h1>
			<img src="{% static 'images/bunny.png' %}" alt = "bunny"/>
			<br>
			
			<button class = "defaultButton" onclick="necklaceButton()">
				necklaces
			</button>
		</div>
		
		<script src="{% static "js/jquery-3.3.1.min.js" %}"  crossorigin="anonymous"></script>
		<script src="{% static "js/floppa-jquery.js" %}" crossorigin="anonymous"></script>
		
		<script>
			function necklaceButton(){
				location.replace("{% url 'floppa:necklaces' %}")
			}
		</script>
	</body>

</html>