<!DOCTYPE html>
{% load static %}

<html>
	<head>
		<title>
		₍⑅ᐢ.ˬ.ᐢ₎♡✧FLOPPABUNNY
		</title>
		<link rel="stylesheet" href="{% static 'base.css' %}"/>
		<meta charset="UTF-8">
		<meta name = "keywords" content = "Necklace, Retailer, Online Shopping, Jewellery">

		<style>
			@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');
		</style>
	</head>

	<body>
		<div class = "indexHeader">
			<ul>
                <!-- about us button leading to about us page -->
				<a href = "{% url 'floppa:about' %}">
				<button class = "classic-btn", id = "btnleft"> ABOUT US</button>
				</a>
				<!-- sign up button leading to sign up page -->
			    <a href = "{% url 'floppa:signup' %}">
			         <button class = "classic-btn", id = "btnright" = > SIGN UP</button>
			    </a>
			    <!-- log in button leading to log in page -->
			    <a href = "{% url 'floppa:login' %}">
			    <button class = "classic-btn", id ="btnfarright" > LOG IN</button>
			    </a>
			</ul>
		</div>
		<div class = "body">
			<h1>WELCOME 2 FLOPPABUNNY</h1>
			<img src="{% static 'images/bunny.png' %}" alt = "bunny"/>
			<br>

			<button class="classic-btn" id="index-necklacesbtn" onclick="necklaceButton()">
                NECKLACES
			</button>
		</div>
		
		<script src="{% static "js/jquery-3.3.1.min.js" %}"  crossorigin="anonymous"></script>
		<script src="{% static "js/floppa-jquery.js" %}" crossorigin="anonymous"></script>

		<script>
			function necklaceButton(){
				location.replace("{% url 'floppa:necklaces' %}")
			}
		</script>
	</body>

</html>
