{% extends 'floppa/base.html' %}
{% load static %}

{% block title_block %}
    ₍⑅ᐢ.ˬ.ᐢ₎♡✧{{upper}}
{% endblock %}

{% block body_block %}
    <h1>{{necklace.name}}</h1>
        <div>
            {% if necklace.image1 %}
                <img src="{{necklace.image1.url}}" alt="First image of necklace" width=200px>
                <img src="{{necklace.image2.url}}" alt="Second image of necklace" width=200px>
            {% else %}
                <img src="{% static 'images/placeholder.jpg' %}" alt="Placeholder" width = 200px>
                <img src="{% static 'images/placeholder.jpg' %}" alt="Placeholder" width = 200px>
            {% endif %}
            <div>
                <p>{{necklace.description}}</p>
                <h6>{{necklace.price}}</h6>

                <form id="add_to_cart_form" method="post" enctype="multipart/form-data" action="{% url 'floppa:cart'%}">
					{% csrf_token %}
					{{ form.as_p }}
					<br>
					</br>
				<input class = "classic-btn" type="submit" name="submit" value="add to cart" />
			</form>
            </div>
        </div>
{% endblock %}