{% extends 'floppa/base.html' %}
{% load static %}

{% block title_block %}
	₍⑅ᐢ.ˬ.ᐢ₎♡✧NECKLACES
{% endblock %}

{% block body_block %}
	<h1>Necklaces</h1>
    <div class="search bar">
		<form>
			<input type="search" placeholder="Search Necklaces">
			<button type="submit">Search</button>
		</form>
	</div>
	<div>
		{% for necklace in necklaces%}
			{% if necklace.image1 %}
				<a href="/floppa/necklaces/{{necklace.slug}}/"><img src="{{necklace.image1.url}}" alt="Image of necklace" width = 150px ></a>
			{% endif %}
			<h6>{{necklace.price}}</h6>
		{% endfor %}
	</div>
{% endblock %}
