{% extends 'floppa/base.html' %}
{% load static %}

{% block title_block %}
	Necklace 03
{% endblock %}

{% block body_block %}
	<h1>Necklace 03</h1>
	<img src="{% static 'images/necklace-03.jpg' %}" alt="Necklace 03">
	<p>Sample text</p>
	<div class="dropdown">
		<button>Quantity</button>
		<div class="dropdown-num">
		  <a href="#">1</a>
		  <a href="#">2</a>
		  <a href="#">3</a>
		  <a href="#">4</a>
		</div>
	  </div> 
	<button>Add to Cart</button>
	<!--Both the dropdwon menu and button will need backend functionality added-->
{% endblock %}