{% extends 'floppa/base.html' %}
{% load static %}

{% block title_block %}
	₍⑅ᐢ.ˬ.ᐢ₎♡✧NECKLACES
{% endblock %}

{% block body_block %}
	<h1>necklaces</h1>
    <div class="search bar">
		<form>
			<input class ="search-bar" type="search" placeholder="Search Necklaces">
			<button type="submit" class ="search-btn">
			    <img class = "search-img" src="{% static 'images/search button.png' %}" alt="Click to search" width=50pts/>
			    </button>
		</form>
	</div>
<br>
</br>
	<div>
		{% for necklace in necklaces%}
		<table class = "center">
			<tr class ="center">
				<td>
				<div class="container">
				{% if necklace.image1 %}
					<a href="/floppa/necklaces/{{necklace.slug}}/"><img src="{{necklace.image1.url}}" alt="Image of necklace" class="image"></a>
					<div class = "overlay">
					    <div class="text">{{necklace.price}}</div>
					</div>
					<br>
                    </br>
				{% else %}
					<a href="/floppa/necklaces/{{necklace.slug}}/"><img src="{% static 'images/placeholder.jpg' %}" alt="Placeholder" class"image"></a>
						<div class = "overlay">
					    <div class="text">{{necklace.price}}</div>
					</div>
					<br>
                    </br>
				{% endif %}
				</div>
				<br>
                </br>
				</td>
			</tr>
		</table>
		{% endfor %}

		{%if user.is_staff%}
		<a href = "{% url 'floppa:add_necklace' %}">
		<button class="classic-btn" id="necklaces-addnecklacebtn">
            add necklace
		</button>
		</a>
		{%endif%}

	</div>
{% endblock %}
