{% extends 'floppa/base.html' %}
{% load static %}

{% block title_block %}
    ₍⑅ᐢ.ˬ.ᐢ₎♡✧NECKLACE
{% endblock %}

{% block body_block %}
    <h1>{{necklace.name}}</h1>
        <div>
            <img src="{{necklace.image1.url}}" alt="First image of necklace">
            <img src="{{necklace.image2.url}}" alt="Second image of necklace">
            <div>
                <p>{{necklace.desription}}</p>
                <h6>{{necklace.price|floatformat:2}}</h6>
                <div class="dropdown">
                    <button class="dropbtn">Quantity</button>
                    <div class="drop-content">
                        <a href="#">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                    </div>
                </div>
                <a href="{{url 'floppa:cart'}}">Add to Cart</a>
            </div>
        </div>
{% endblock %}