{% extends 'floppa/base.html' %}
{% load static %}

{% block title_block %}
    ₍⑅ᐢ.ˬ.ᐢ₎♡✧NECKLACE
{% endblock %}

{% block body_block %}
    <h1>{{necklace.name}}</h1>
        <div>
            {% if necklace.image1 %}
                <img src="{{necklace.image1.url}}" alt="First image of necklace">
                <img src="{{necklace.image2.url}}" alt="Second image of necklace">
            {% else %}
                <img src="{% static 'images/placeholder.jpg' %}" alt="Placeholder" width = 150px>
                <img src="{% static 'images/placeholder.jpg' %}" alt="Placeholder" width = 150px>
            {% endif %}
            <div>
                <p>{{necklace.description}}</p>
                <h6>{{necklace.price}}</h6>
                <div class="dropdown">
                    <button class="dropbtn">Quantity</button>
                    <div class="drop-content">
                        <a href="#">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                    </div>
                </div>
                <a href="{% url 'floppa:cart' %}"><button class="cartbtn">Add to Cart</button></a>
            </div>
        </div>    
{% endblock %}