{% extends 'floppa/base.html' %}
{% load static %}

{% block title_block %}
	₍⑅ᐢ.ˬ.ᐢ₎♡✧SIGN UP
{% endblock %}

{% block body_block %}
{% if registered %} <!--checking if user has signed up-->
	<h1>thank you for registering!</h1>
	<!--button allowing user to then log in as opposed signing up-->
	<a href="{% url 'floppa:login' %}"><button class="classic-btn">log in<br/></button></a>
{%else%} <!--this means user hasn't signed up and needs to register-->
<div>

	<form class = "signup-form" id="user_form" method="post" action="{% url 'floppa:signup' %}"
												enctype="multipart/form-data">
		{% csrf_token %}
		{{ user_form.as_p }}
		{{ profile_form.as_p }}
		<input class="classic-btn" type="submit" name="submit" value="register" />
	</form>
</div>
{% endif %}
<h2>︵‿︵‿୨♡୧‿︵‿︵</h2>
{% endblock %}
