{% extends 'floppa/base.html' %}
{% load static %}

{% block title_block %}
	₍⑅ᐢ.ˬ.ᐢ₎♡✧ACCOUNT
{% endblock %}

{% block body_block %}
	<h3>Sign up down below...</h3>
	<h4>Your data will be handled securely under GDPR regulations.</h3>
	<h6>You won't regret it! ;)</h3>
{% if registered %}
	<strong>Thank you for registering!</strong>
	<a href="{% url 'floppa:index' %}">Return to the homepage.</a><br/>
{%else%}
	<strong>Register Here!</strong><br />
	<form id="user_form" method="post" action="{% url 'floppa:signup' %}"
												enctype="multipart/form-data">
		{% csrf_token %}
		{{ user_form.as_p }}
		{{ profile_form.as_p }}
		
		<input type="submit" name="submit" value="Register" />
	</form>
{% endif %}

{% endblock %}
