html,

body{
	background-color: #e6bdea;
	height: 95vh;
	width: 95vw;
	text-align: center;
	font-family: Archivo;
	font-size: 22px;
	float: center;

}

/* css code for where the floppabunny gif will be on webpages*/

.floppagif {
    height: 50px;
    width: 50px;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: block;
	top: -60px;
	paddling-left: 100px;
}

.
/* css for header */
.homeImage {
	float: left;
	margin-left: 100 pts;
}

.logo{
	float: center;
}

.righthand_header{
	float: right;
	width: 70%;
	left: relative;
	right: relative;
	margin-left: 90%;
}

.rightmost{
	float: right;
	left: relative;
	right: relative;
}


.header{
	display: block;
	float: center;
	vertical-align: top;
    padding: 10px;
    text-align: center;
    background: gray;
    color: white;
    font-size: 16px;
}



.classic-btn{
    background-color: white;
    color: black;
    font-size: 36px;
    border: 6px solid black;
}

.classic-btn:hover {
  background-color: black;
  color: white;
  border: 6px solid white;
}


#btnleft {
    float:left;
}

#btnright {
    float:right;
}

#btnfarright {
    float:right;

}

#account-loginsignupbtn {
    float: center;
    font-size: 50px !important;
    text-align: center;
}


/* css for text */

.contactus {
    font-size: 16px;
}

p {
	font-size: 18px;
	font-family: Archivo;
	font-size: 30px;
	font-size: 2.5vh;
	text-align: center;
}

h1, p, h3, h4{
	color: white;
}

h1 {
	font-size: 5vh;
}

h2 {
	color: #67B7E6;
	font-size: 4vh;
}

h3 {
	font-size: 2.5vh;
}

h4 {
	font-size: 25px;
	font-size: 3.5vh;
}



/* css for about page specifically */

aboutText{

}

/* css for scrollbar */

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* handle */
::-webkit-scrollbar-thumb {
	background: #67B7E6;
}


/* css for index page specifically */

.defaultButton{
	font-family: Archivo;
}