html,
/*the main design features of the text and background throughout website*/
body{
	background-color: #e6bdea; /*background colour throughout the website */
	height: 95vh;
	width: 95vw;
	text-align: center;
	font-family: Archivo; /*relates to the google font used throughout*/
	font-size: 22px;

}

.necklacesbody {
  color: black;
}
a {
  color: inherit; /* black colors for links too */
  text-decoration: inherit; /* no underline */
}

/*controls the floppabunny gif on all pages except index.html (home page)*/
.logo{
    top: -10%; /* moving the logo further up the page*/
	position: relative;
	justify-content:center;
}

/*postioning of the sign-out button on every page when the user logs in*/
.signout-btn{
    position:relative;
}
/*sign out button will be on the bottom right hand corner of every page except index.html when logged in*/
#signout-btn-position {
    position:absolute;
    bottom:0;
    right:0;
}

/*making the larger input box in contact form on contact.html be
formatted and not span the whole width of the page*/
.contact-largerinput {
    height:200px;
    width: 500px;
}

.signup-form{
    display: inline-block;
}

/*positioning of the bunny image on index.html*/
.index-media {
    padding-bottom: 5vw;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/*scaling of bunny image on index.html*/
#index-scaling {
    height:280px;
    width: 375px;
}

/* buttons positoning */
/*moves buttons to top left hand side used on index.html*/
#btnleft {
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    display: block;
    float: center;
	/*top: -60px;*/
	paddling-left: 100px;
    float:left;
}
/*moves buttons to top right hand side used on index.html*/
#btnright {
    margin-left: 1vw;
    float:right;

}
/*moves buttons to the further top right hand side used on index.html*/
#btnfarright {
    margin-left: 3vw;
    float:right;

}

/*buttons on index.html aesthetic properties*/
.index-btn{
    border-radius: 4px;
    float: center;
    color: black;
    font-size: 26px;
    border: 6px solid black;
}
/*hover feature on index.html buttons to boost responsiveness*/
.index-btn:hover {
  background-color: black; /*contrasting colours to make it clearly responsive*/
  color: white;
  border: 6px solid white;
}

/*properties of necklace button on index.html page*/
#index-necklacesbtn {
    justify-content: center;
    float: center;
    text-align: center;
    top: 20%;
  bottom: 5%;
  right: 40%;
  left: 40%;
}

/* button format outwith the index.html page*/
.classic-btn {
    border-radius: 4px;
    padding: 10px 16px;
    background-color: white;
    color: black;
    font-size: 24px;
    border: 6px solid black;
    padding: 3px 16px;
}
/*hover function on buttons similar to index-btn to ensure consistency*/
.classic-btn:hover {
    background-color: black;
    color:white;
    border:6px solid white;
}


/*contact.html page font*/
.contactus {
    font-size: 16px;
}

/*paragraph text properties*/
p {
	font-size: 18px;
	font-family: Archivo;
	font-size: 30px;
	font-size: 2.5vh;
	text-align: center;
}

/*aesthetic changes to search bar*/
.search-bar{
    height: 37px;
    width: 200px;
    border: 4px solid #67B7E6;

}

/* The navbar container on every page except index.html */
.topnav {
    position: relative;
    left: 0;
    color: #c1c1c1;
    text-align: right;
    height: 2%;
    padding: 1%;
    width: 100%;
    text-align: justify;
    paddling-left: 100px;
    overflow: hidden;
}

/* Navigation bar shown on every page outwith home page (index.html) */
.topnav a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Links - change color on hover */
.topnav a:hover {
  color: black;
}

/*text elements with the text in white*/
h1, p, h3, h4, h5 {
	color: white;
}

/*font size of heading 1*/
h1 {
	font-size: 7vh;
}

/*centering elements*/
.center {
  margin-left: auto;
  margin-right: auto;
}

/*font size change and text will be in blue*/
h2 {
	color: #67B7E6;
	font-size: 4vh;
}

/*font size of heading 3*/
h3 {
	font-size: 2.5vh;
}

/*font size of heading 4*/
h4 {
	font-size: 25px;
	font-size: 3.5vh;
}

/*font size of heading 5*/
h5 {
	font-size: 6vh;
}


/* css for image overlay effect on necklaces.html page*/
.container {
  position: relative;
  width: 180px;
  height: 180px;
}

.image {
  display: block;
  width: 180px;
  height: 180px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 180px;
  width: 180px;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
}

.container:hover .overlay {
  opacity: 1;
}

/*controls how the text is shown when the user hovers
over the images of necklaces on necklaces.html*/
.text {
  color: #67B7E6;
  font-size: 25px;
  position: absolute;
  top: 30%;
  left: 25%;
  -webkit-transform: translate(50%, 50%);
  -ms-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
  text-align: center;
  float:center;
}


/* css for scrollbar */

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* handle */
::-webkit-scrollbar-thumb {
	background: #67B7E6;
}


/* font throughout the website */

.defaultButton{
	font-family: Archivo;
}

