html,

body{
	background-color: #e6bdea;
	height: 95vh;
	width: 95vw;
	text-align: center;
	font-family: Archivo;
	font-size: 22px;

}

#aboutbody-positioning {
    top: 5%;
    position: relative;
    float: center;
    justify-content: center;
}

.logo{
    top: -10%;
	position: relative;
	justify-content:center;
}

.signout-btn{
    position:relative;
}
#signout-btn-position {
    position:absolute;
    bottom:0;
    right:0;
}

.contact-largerinput {
        height:200px;
        width: 500px;
}

.signup-align{
    text-align: center;
}

.signup-form{
    display: inline-block;
}
.header {
  position: relative;
  background-color: #c1c1c1;
  left: 0;
  color: white;
  text-align: right;
  height: 5%;
  padding: 1%;
  width: 100%;
  text-align: justify;
}

/* css code for where the floppabunny gif will be on webpages*/
.index-media {
    float:center;
    padding-bottom: 5vw;
}

/* buttons positoning */
#btnleft {
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    display: block;
    float: center;
	/*top: -60px;*/
	paddling-left: 100px;
    float:left;
}

#btnright {
    margin-left: 1vw;
    float:right;
    /*float:right;
    margin-right:3vw;*/
}

#btnfarright {
    margin-left: 3vw;
    float:right;

}

/* css for header */
#indexBunny {
	float: left;
	margin-left: 100 pts;
	 display: flex;
    justify-content: center;
  position: absolute;
  overflow: hidden;
  height: 30%;
  width: 35.7%;
  top: 20%;
  bottom: 5%;
  right: 35%;
  left: 35%;
position:relative;
}

/* buttons appearance properties*/
.index-btn{
    border-radius: 4px;
    float: center;
    color: black;
    font-size: 26px;
    border: 6px solid black;
}
/*editing buttons appearance when hovered over to boost responsiveness*/
.index-btn:hover {
  background-color: black;
  color: white;
  border: 6px solid white;
}

#index-necklacesbtn {
    justify-content: center;
    float: center;
    text-align: center;
    top: 20%;
  bottom: 5%;
  right: 40%;
  left: 40%;
}

/* buttons format outwith the index page*/
.classic-btn {
    border-radius: 4px;
    padding: 10px 16px;
    background-color: white;
    color: black;
    font-size: 24px;
    border: 6px solid black;
    padding: 3px 16px;
}

.classic-btn:hover {
    background-color: black;
    color:white;
    border:6px solid white;
}


.logout-btn{
    background-color: log ;
}

#account-loginsignupbtn {
    float: center;
    font-size: 50px !important;
    text-align: center;
}


/* css for text */

.contactus {
    font-size: 16px;
}

p {
	font-size: 18px;
	font-family: Archivo;
	font-size: 30px;
	font-size: 2.5vh;
	text-align: center;
}

.search-bar{
    height: 37px;
    width: 200px;
    border: 4px solid #67B7E6;

}

/* The navbar container */
.topnav {
    position: relative;
  left: 0;
  color: #c1c1c1;
  text-align: right;
  height: 2%;
  padding: 1%;
  width: 100%;
  text-align: justify;
	/*top: -60px;*/
	paddling-left: 100px;
  overflow: hidden;
}

/* Navigation bar shown on every page outwith home page (index.html) */
.topnav a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Links - change color on hover */
.topnav a:hover {
  color: black;
}

h1, p, h3, h4, h5 {
	color: white;
}

h1 {
	font-size: 7vh;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

h2 {
	color: #67B7E6;
	font-size: 4vh;
}

h3 {
	font-size: 2.5vh;
}

h4 {
	font-size: 25px;
	font-size: 3.5vh;
}

h5 {
	font-size: 6vh;
}

.index-media {
    /*height: 30%;
    width: 50%;
	float: center;
    justify-content: center;*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#index-scaling {
    height:280px;
    width: 375px;
}
/* css for image overlay effect on  necklaces page*/
.container {
  position: relative;
  width: 180px;
  height: 180px;
}

.image {
  display: block;
  width: 180px;
  height: 180px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 180px;
  width: 180px;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: #67B7E6;
  font-size: 25px;
  position: absolute;
  top: 30%;
  left: 25%;
  -webkit-transform: translate(50%, 50%);
  -ms-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
  text-align: center;
  float:center;
}


/* css for scrollbar */

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* handle */
::-webkit-scrollbar-thumb {
	background: #67B7E6;
}


/* font throughout the website */

.defaultButton{
	font-family: Archivo;
}

